*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
    color: #fff;
    /* Растягиваем body по высоте html */
    min-height: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.main{
    background: url(../images/mainImg.png) center no-repeat;
    background-size: cover;
    height: 100vh;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.main__navigation-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main__navigation-item{
    padding-left: 75px;
    font-size: 24px;
    text-decoration: none;
    color: #fff;
}
.main__navigation-item:first-child{
    padding-left: 0;
}

.btn-register{
    text-decoration: none;
    font-size: 16px;
    color: white;
    padding: 10px 30px;

    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
}

.content{
    color: white;
    padding-top: 130px;
    font-size: 64px;
}
.btn-per{
    text-decoration: none;
    font-size: 20px;
    color: white;
    padding: 15px 40px;

    margin-top: 70px;

    background: linear-gradient(94.26deg, #C89AFC 9.51%, #7C6AFA 90.23%);
    border-radius: 50px;
}
.per-btn{
    display: flex;
    justify-content: center;
}

.footer{
    background-color: black;

}
.footer__text{
    padding: 20px 0;
    color: #FFFFFF;
    font-size: 24px;
    text-align: center;
}
.content__students{
}
